@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
}

html {
  scroll-behavior: smooth;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: #7C8BA1;
  text-align: left;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.purple {
  color: #6415ff;
}

.section__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 96px 0;
}

.section__text--container {
  width:50%;
  display: flex;
  flex-direction: column;
}

.section__text--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  padding: 32px 0;
}

.section__image--wrapper {
  width: 50%;
}

.section__title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.6px;
  padding: 0 0 16px 0;
  color: #6415ff;
}

.section__subtitle {
  font-size: 48px;
  font-weight: 900;
  color: #243e63;
}

.section__para {
  font-size: 18px;
  font-weight: 500;
  padding: 16px 0 0 0;
  line-height: 1.625;
  max-width: 540px;
}

.column__container {
  flex-direction: column;
}

.centered__text--wrapper {
  padding: 40px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.centered__para {
  display: flex;
  text-align: center;
}

/* NAVIGATION BAR */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}

.nav__logo--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color:#243e63;
  font-size: 24px;
  font-weight: 900;
  text-decoration: none; 
  transition: all 300ms ease;
}

.nav__logo-image--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__logo-image {
  width: 40px;
  margin: 0 12px 0 0;
}

.nav__logo--wrapper:hover {
  color:#6415ff;
}

.nav__link {
  margin: 0 24px;
  text-decoration: none;
  font-size: 14px;
  color: #243e63;
  font-weight: 600;
  transition: all 300ms ease;
}

.nav__link:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
  color: #6415ff;
}

.nav__link--login {
  margin: 0 24px 0 48px;
}

.purple-button {
  background-color: #6415ff;
  text-decoration: none;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 32px;
  border-radius: 50px;
  color: white;
  transition: all 300ms ease;
}

.purple-button:hover {
  background-color: #5011cc;
}

/* INTRODUCTION */

.intro__text--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

.intro__image--wrapper {
  width: 60%;
}

.intro__text--title {
  font-size: 48px;
  color: #1A202C;
}

.intro__text--para {
  font-size: 18px;
  color: #243e63;
  padding: 32px 0;
}

.intro__email--wrapper {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 8px 8px 8px 32px;
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(226, 232, 240);
  transition: all 300ms ease;
}

.intro__email:focus-within {
  outline-style: none;
  box-shadow: none;
}

.intro__email--wrapper:hover {
  border-color: #A0AEC0;
}

.intro__email--wrapper:focus-within {
  border-color: #6415ff;
}

.intro__email {
  border: none;
}

.intro__email::placeholder{
  font-size: 16px;
  font-weight: 500;
  color: rgb(226, 232, 240);
}

.intro__trusted-customers--wrapper {
  padding: 80px 0 0 0;
}

.intro__trusted-customers--text {
  font-size: 12px;
  color:#A0AEC0;
  font-weight: 700;
}

.intro__trusted-customers--image--wrapper {
  padding: 16px 0 0 0;
  width: 80%;
}

.intro__trusted-customers--image {
  opacity: 0.5;
}

/* FEATURES */

.container {
  display: flex;
  justify-content: center;
  padding: 80px 0;
}

.features__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.features__para--wrapper {
  width: 40%;
}

.services {
  display: flex;
  flex-wrap: wrap;
}

.service {
  display: flex;
  width: calc(100%/3);
  padding: 32px 24px;
}

.service__image {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.service__image--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.service__image--wrapper {
  padding: 20px;
  border-radius: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(226, 232, 240);
}

.service__description {
  display: flex;
  flex-direction: column;
  padding: 8px 0 0 16px;
  max-width: 212px;
}

.service__description--title {
  font-size: 24px;
  font-weight: 700;
  color: #243E63;
}

.service_description--para {
  padding: 16px 0 0 0;
  line-height: 2;
}

/* QUALITY WORK */

.quality-work__text--wrapper {
  align-items: start;
  margin: 0 64px 0 0;
}

.quality-work__button {
  margin: 32px 0 0 0;
}

/* STEPS */

.steps__text--container {
  margin: 0 0 0 64px;
}

.steps__subtitle {
  padding: 0 0 16px 0;
}

.steps--wrapper {
  display: flex;
  padding: 32px 0 0 0;
}

.step__number {
  font-size: 36px;
  color: #CBD5E0;
  font-weight: 600;
}

.step__text {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 20px;
  max-width: 320px;
}

.step__text--title{
  font-size: 20px;
  color: #243E63;
  font-weight: 600;
}

.step__text--para {
  font-size: 14px;
  color: #718096;
  padding: 12px 0 0 0;
}

/* VALUES */

.values--container,
.value--wrapper,
.value__icon-and-name--wrapper,
.value__icon--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.values--container {
  padding: 32px 0 0 0;
}

.value--wrapper {
  align-items: start;
  flex-direction: column;
  max-width: 50%;
}

.value__icon--wrapper {
  border-radius: 50px;
  width: 36px;
  height: 36px;
}

.value__affordable {
  background-color: #9AE6B4;
}

.value__professionalism {
  background-color: #FEB2b2;
}

.value {
  font-size: 20px;
  color: #243E63;
  font-weight: 700;
  padding: 0 0 0 12px;
  display: flex;
  align-items: center;
}

.value__text--para {
  padding: 16px 0 0 0;
}

.values__button {
  margin: 48px 0 0 0;
}

/* PRICING */

.plans {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 64px 0 0 0;
}

  /* GENERIC PLAN */

.plan {
  width: 31.5%;
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.plan__top--border {
  width: 100%;
  height: 8px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 0px 1px 1px #A0AEC060;
}

.plan__tile {
  box-shadow: 0px 0px 1px 1px #A0AEC060;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 32px;
}

.plan__tile:first-child {
  border-radius: 10px 10px 0 0;
  padding: 40px 32px 32px 32px;
}

.plan__tile:last-child {
  border-radius: 0 0 10px 10px;
}

.plan__tile--title {
  font-size: 20px;
  color: #1A202C;
}

.plan__price {
  font-size: 48px;
  color: #1A202C;
  padding: 25px 0;
}

.plan__frequency {
  font-size: 16px;
  color: #A0AEC0;
  letter-spacing: 1.6px;
}

.feature {
  font-size: 16px;
  font-weight: 500;
  color: #718096;
  padding: 20px 0 0 0;
}

.buy-now__button {
  font-size: 14px;
  font-weight: 700;
  color: #F7FAFC;
  width: 58%;
  padding: 16px 32px;
  border-radius: 50px;
  border: none;
  transition: all 300ms ease;
}

.buy-now__button:hover {
  cursor: pointer;
  transform: translate(1px, -1px);
  opacity: 0.8;
  box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.1);
}

  /* PERSONAL PLAN CUSTOMIZATIONS */

.personal-plan__theme {
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

  /* BUSINESS PLAN CUSTOMIZATIONS */

.business-plan__theme {
  background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
  border-radius: 10px;
}

.business-plan__theme div.plan__tile {
  box-shadow: 0px 0px 1px 1px #7d91ff;
}

.business-plan__theme p {
  color: #F7FAFC;
}

.business-plan__theme button{
  color: #6415ff;
  background-color: #F7FAFC;
}

  /* ENTERPRISE PLAN CUSTOMIZATIONS */

.enterprise-plan__theme {
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/* TESTIMONIALS */

.testimonials__text--wrapper {
  margin: 0 0 0 64px;
  padding: 0;
}

#testimonial__wrapper {
  display: flex;
  padding: 40px 0 0 0;
  overflow: hidden;
  position: relative;
}

.testimonial__headline {
  padding: 16px 0 0 0;
  color: #243E63;
  font-size: 20px;
  font-weight: 700;
}

.testimonial__para--wrapper {
  padding: 16px 0 40px 0;
}

.testimonial__para {
  color: #4A5568;
  font-size: 16px;
  font-weight: 500;
}

.testimonial__nav {
  display: flex;
  justify-content: space-between;
}

.testimonial__client {
  display: flex;
}

.testimonial__client-photo--wrapper {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  overflow: hidden;
}

.testimonial__client-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 0 0 0 24px;
}

.testimonial__client-name {
  color: #243E63;
  font-size: 20px;
  font-weight: 700;
}

.testimonial__client-title {
  color: #7C8BA1;
  font-size: 16px;
  font-weight: 500;
}

.testimonial__arrows--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial__arrow--wrapper {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  border: none;
  background-color: rgba(226, 232, 240, 0.5);
  margin: 0 12px;
  transition: background-color 300ms ease;
}

.testimonial__arrow--wrapper:hover {
  background-color: rgba(226, 232, 240, 1);
  cursor: pointer;
}

.testimonial__arrow--divider {
  height: 24px;
  border-right: 1px solid rgb(226, 232, 240);
}

#first-testimonial {
  visibility: visible;
  z-index: 0;
  transform: translateX(0%);
  transition: all 450ms ease;
}

#last-testimonial {
  position: absolute;
  transform: translateX(-100%);
  visibility: hidden;
  z-index: 1;
  transition: all 450ms ease;
}

.next-testimonial #first-testimonial {
  visibility: hidden;
  transform: translateX(100%);
}

.next-testimonial #last-testimonial {
  visibility: visible;
  transform: translateX(0%);
}

/* FAQS  */

.questions__container {
  width: 75%;
  padding: 48px 0 0 0;
}

.questions {
  display: flex;
  flex-direction: column;
}

.question__wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #EDF2F7;
  border-radius: 10px;
  margin: 20px 0 0 0;
  padding: 16px 40px;
  transition: all 300ms ease;
}

.question__wrapper:hover {
  cursor: pointer;
  background-color: #e2e8f0;
  color: #1A202C;
}

.question__text {
  color: #2D3748;
  font-size: 20px;
  font-weight: 600;
}

/* GET STARTED */

.get-started__container {
  background-color: #6415ff;
  width: 100%;
  border-radius: 8px;
}

.get-started__content--wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 128px;
  padding: 90px 32px;
  height: calc(100%/3);
}

.get-started__text {
  color: #F7FAFC;
  font-size: 30px;
  font-weight: 700;
  width: 50%;
}

.get-started__buttons--container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.get-started__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F7FAFC;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  border-radius: 50px;
  padding: 20px 40px;
  margin: 0 0 0 32px;
  transition: all 300ms ease;
}

.get-started__button {
  background-color: #F56565;
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.2);
}

.get-started__button:hover {
  background-color: #E53E53;
}

.contact-us__button {
  background-color: #6415ff;
  border: 1px solid #F7FAFC;
}

.contact-us__button:hover {
  background-color: #F7FAFC;
  color: #6415ff;
}

/* FOOTER */

footer {
  background-color: #6415ff;
}

.links {
  display: flex;
  flex-wrap: wrap;
  padding: 48px 0 0 0;
}

.link {
  display: flex;
  flex-direction: column;
  width: calc(100%/5);
  align-items: center;
  justify-content: center;
}

.link__item {
  color: #F7FAFC;
  font-size: 14px;
  font-weight: 500;
  padding: 12px 0 0 0;
  transition: all 300ms ease;
}

.link li:first-child {
  padding: 48px 0 0 0;
  font-size: 16px;
  font-weight: 700;
}

.link li:not(:first-child):hover {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
  color: #F7FAFC;
}

.footer__divider {
  margin: 64px 0;
  border: 1px solid rgb(116, 44, 255);
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 96px 0;
}

.footer__logo--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo-image {
  width: 32px;
}

.footer__logo-name {
  color: #f7FAFC;
  font-size: 20px;
  font-weight: 900;
  padding: 0 0 0 8px;
}

.footer__copyright {
  color: #CBD5E0;
  font-size: 16px;
  font-weight: 500;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__link--wrapper {
  background-color: #F7FAFC;
  text-decoration: none;
  border-radius: 50px;
  padding: 8px;
  margin: 0 0 0 16px;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 16px;
}

/* RESPONSIVENESS  */
@media (max-width: 1024px) {
  
}

@media (max-width: 640px) {
  
}