@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
}

main {
  margin-bottom: 96px;
}

section {
  padding: 0 32px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
}

.link__hover-effect:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

button {
  cursor: pointer;
}

.purple-button {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background-color: #6415FF;
  padding: 12px 32px;
  width: fit-content;
  border: none;
  border-radius: 500px;
  transition: all 300ms ease;
  cursor: pointer;
}

.purple-button:hover {
  background-color: #5011cc;
}

.container {
  padding: 96px 0;
}

.purple {
  color: #6415FF;
}

.section__title {
  font-size: 16px;
  font-weight: 700;
  color: #6415FF;
  letter-spacing: 1.6px;
}

.section__tag {
  font-size: 48px;
  font-weight: 900;
  color: #243E63;
  letter-spacing: 1.2px;
  line-height: 60px;
  margin: 16px 0;
}

.section__para {
  font-size: 18px;
  font-weight: 500;
  color:#7C8BA1;
  max-width: 576px;
  line-height: 29.25px;
}

/* NAVIGATION BAR */

.nav__bar {
  padding-top: 32px;
}

.nav__bar--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__logo--img-mask {
  height: 40px;
  width: 40px;
}

.nav__logo--title {
  font-size: 24px;
  font-weight: 900;
  margin-left: 12px;
  color: #243E63;
}

.nav__links {
  display: flex;
  align-items: center;
  padding: 0 0 2px 0;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  padding-top: 4px;
  margin: 0 24px;
  color:#243E63;
  transition: all 300ms ease;
}

.link__hover-effect--purple:hover {
  color:#6415ff;
}

.login {
  margin: 0 24px 0 48px;
}

.primary {
  color: #ffffff;
  padding: 12px 32px;
}

/* LANDING PAGE */

.landing__content {
  display: flex;
}

.landing__description {
  width: 40%;
}

h1 {
  font-size: 48px;
  color: #1A202C;
  line-height: 1.25;
}

.landing__para {
  font-size: 18px;
  color: #243E63;
  margin: 32px 0;
  line-height: 1.5;
}

.landing__email--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 448px;
  position: relative;
}

.landing__email {
  font-size: 16px;
  font-weight: 500;
  padding: 20px 192px 20px 32px;
  color: #243E63;
  border-radius: 500px;
  width: 100%;
  border: 2px solid #E2E8F0;
  transition: all 300ms ease;
}

.landing__email:hover {
  border-color: #A0AEC0;
}

.landing__email:focus {
  border-color: #6415ff;
  outline-style: none;
}

.landing__email::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #E2E8F0;
}

.landing__email--button {
  position: absolute;
  right: 8px;
  font-size: 16px;
  padding: 14px 32px;
}

.landing__customers--title {
  font-size: 12px;
  font-weight: 700;
  color: #A0AEC0;
  margin-top: 80px;
}

.landing__customers--mask {
  margin-top: 16px;
  padding-right: 128px;
}

.landing__customers {
  opacity: 0.5;
}

.landing__img--container {
  width: 60%;
}

/* FEATURES */

.features__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features__para {
  text-align: center;
}

.features__container {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.feature__container {
  width: calc(100%/3);
  max-width: 340px;
}

.feature__wrapper {
  display: flex;
  flex-direction: row;
  width:100%;
  padding: 32px 24px;
}

.feature__icon {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.feature__mask {
  border: 1px solid #E5E7EB;
  border-radius: 500px;
  padding: 20px;
}

.feature__img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.feature__text {
  margin: 8px 0 0 16px;
}

.feature__title {
  font-size: 24px;
  font-weight: bold;
  color: #243E63;
}

.feature__para {
  font-size: 16px;
  font-weight: 500;
  color: #7C8BA1;
  line-height: 2;
  margin-top: 16px;
}

/* QUALITY WORK */

.quality-work__content {
  display: flex;
  flex-direction: row;
}

.quality-work__description, .quality-work__img--container {
  width: 50%;
}
.quality-work__description {
  margin-right: 64px;
  display: flex;
  flex-direction: column;
}

.quality-work__button {
  margin-top: 32px;
}

/* STEPS */

.steps__content {
  display: flex;
  flex-direction: row;
}

.steps__img--container, .steps__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.steps__description {
  padding: 32px 0 32px 64px;
}

.step {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  max-width: 380px;
}

.step__number {
  font-size: 36px;
  font-weight: 600;
  color: #CBD5E0;
}

.step__text {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  width: 100%;
  max-width: 320px;
}

.step__title {
  font-size: 20px;
  font-weight: 600;
  color: #243E63;
  line-height: 1;
}

.step__para {
  font-size: 14px;
  color: #718096;
  line-height: 2;
  margin-top: 12px;
}

/* VALUES */

.values__content {
  display: flex;
  flex-direction: row;
}

.values__description, .values__img--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.values__description {
  padding: 32px 64px 32px 0;
}

.values__tag {
  margin-bottom: 32px;
}

.values__container {
  display: flex;
  flex-direction: row;
}

.value__container {
  width: 50%;
  margin-top: 32px;
  margin-right: 32px;
}

.value__icon-and-title {
  display: flex;
  flex-direction: row;
}

.value__icon--mask {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
  width: 36px;
  height: 36px;
}

.value__icon--affordable {
  background-color: #9ae6b4;
}

.value__title {
  font-size: 20px;
  font-weight: bold;
  color: #243E63;
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.value__para {
  margin-top: 16px;
  font-size: 16px;
  color: #718096;
  line-height: 1.625;
}

.value__icon--professionalism {
  background-color: #FEB2B2;
}

.values__button {
  margin-top: 48px;
}

/* PRICING */

.pricing__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing__para {
  text-align: center;
}

.plans__container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.plan {
  width: calc(100%/3);
  margin: 64px 32px 0 0;
}

.plan__stripe {
  width: 100%;
  height: 8px;
  border-radius: 500px 500px 0 0;
}

.personal__color {
  background: linear-gradient(115deg, #38B2AC 0%, #81E6D9 100%);
  color: #F7FAFC;
}

.plan__top, .plan__middle, .plan__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  box-shadow: 1px 1px 1px 0px #00000020, -1px 1px 1px 0px #00000020;
}

.plan__name, .plan__price, .plan__frequency, .plan__target {
  font-weight: bold;
  line-height: 1.625;
  color: #1A202C;
}

.plan__name, .plan__target {
  font-size: 20px;
}

.plan__price {
  font-size: 48px;
  margin: 4px 0;
}

.plan__frequency {
  font-size: 16px;
  color: #A0AEC0;
}

.plan__middle {
  border-top: 2px solid #E5E7EB;
  border-bottom: 2px solid #E5E7EB;
}

.plan__specs {
  font-size: 16px;
  color: #718096;
  margin-top: 20px;
}

.plan__bottom {
  border-radius: 0 0 10px 10px;
}

.buy-now__button {
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  max-width: 192px;
  padding: 16px 32px;
  border: none;
  border-radius: 500px;
  transition: all 300ms ease;
}

.buy-now__button:hover {
  transform: translate(1px, -1px);
  box-shadow: 0px 2px 10px 2px #00000020;
}

.business__plan {
  box-shadow: none;
  background: linear-gradient(135deg, #4C51BF 0%, #667EEA 100%);
  border-radius: 5px;
}

.business__plan * {
  color: #F7FAFC;
}

.business__plan--middle {
  border-top: 2px solid #667EEA;
  border-bottom: 2px solid #667EEA;
}

.business__plan--button {
  color: #6415FF;
}

.enterprise__color {
  background: linear-gradient(115deg, #F56565 0%, #FEB2B2 100%);
  color: #F7FAFC;
}

/* TESTIMONIALS */

.testimonials__content {
  display: flex;
  flex-direction: row;
}

.testimonials__img--container, .testimonials__description {
  width: 50%;
}

.testimonials__img--container {
  display: flex;
  align-items: center;
}

.testimonials__description {
  padding-left: 64px;
}

.testimonials__tag {
  margin-bottom: 24px;
}

.testimonials__container {
  margin-top: 40px;
}

.testimonial__title, .testimonial__name {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  color: #243E63;
}

.testimonial__title {
  margin-top: 16px;
}

.testimonial__para {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  color: #4A5568;
  margin-top: 16px;
  margin-bottom: 40px;
}

.testimonial__profile-and-scroll {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.testimonial__profile {
  display: flex;
  flex-direction: row;
}

.testimonial__img--mask {
  width: 80px;
  height: 80px;
  border-radius: 500px;
  overflow: hidden;
}

.testimonial__name-and-company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 24px;
}

.testimonial__company {
  font-size: 16px;
  font-weight:500;
  line-height: 1.5;
  color: #7C8BA1;
}

.testimonial__scroll {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.arrow__mask {
  border: none;
  width: 48px;
  height: 48px;
  background-color: #EDF2F7;
  border-radius: 500px;
  margin: 0 12px;
  padding: 16px;
  transition: all 300ms ease;
}

.arrow__mask:hover {
  background-color: #E2E8F0;
}

.arrow__divider {
  width: 1px;
  height: 24px;
  background-color: #E5E7EB;
}

/* GET STARTED */

.get-started__content {
  background-color: #6415FF;
  padding: 96px 0;
  border-radius: 5px;
}

.get-started__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 128px;
  padding: 0 32px;
}

.get-started__tag, .get-started__buttons--container {
  width: 50%;
}

.get-started__tag, .get-started__buttons{
  font-weight: 700;
  color: #F7FAFC;
  line-height: 1.5;
}

.get-started__tag {
  font-size: 30px;
}

.get-started__buttons--container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.get-started__buttons {
  font-size: 16px;
  border: none;
  padding: 20px 40px;
  border-radius: 500px;
  box-shadow: 0 2px 3px 2px #00000020;
  transition: all 300ms ease;
}

.get-started__button {
  background-color: #F56565;
  margin: 1px 32px 1px 1px;
}

.get-started__button:hover {
  background-color: #E53E3E;
}

.contact-us__button {
  border: 1px solid #A0AEC0;
  background-color: #6415FF;
}

.contact-us__button:hover {
  color: #6415FF;
  background-color: #F7FAFC;
}

/* FOOTER */

footer {
  background-color: #6415ff;
}

.links {
  display: flex;
  flex-wrap: wrap;
  padding: 48px 0 0 0;
}

.link {
  display: flex;
  flex-direction: column;
  width: calc(100%/5);
  align-items: center;
  justify-content: center;
}

.link__item {
  color: #F7FAFC;
  font-size: 14px;
  font-weight: 500;
  padding: 12px 0 0 0;
  transition: all 300ms ease;
}

.link li:first-child {
  padding: 48px 0 0 0;
  font-size: 16px;
  font-weight: 700;
}

.link li:not(:first-child):hover {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
  color: #F7FAFC;
}

.footer__divider {
  margin: 64px 0;
  border: 1px solid rgb(116, 44, 255);
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 96px 0;
}

.footer__logo--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo-image {
  width: 32px;
}

.footer__logo-name {
  color: #f7FAFC;
  font-size: 20px;
  font-weight: 900;
  padding: 0 0 0 8px;
}

.footer__copyright {
  color: #CBD5E0;
  font-size: 16px;
  font-weight: 500;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__link--wrapper {
  background-color: #F7FAFC;
  text-decoration: none;
  border-radius: 50px;
  padding: 8px;
  margin: 0 0 0 16px;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 16px;
}