@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
}

html {
  scroll-behavior: smooth;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #243e63;
  text-align: left;
  line-height: 1.25;
}

p {
  text-align: left;
  color: #7C8BA1;
}

.purple {
  color: #6415ff;
}

.purple-button {
  background-color: #6415ff;
  margin: 0;
  padding: 12px 32px;
  border-radius: 50px;
  color: white;
  transition: all 300ms ease;
}

.purple-button:hover {
  background-color: #5011cc;
}

/* NAVIGATION BAR */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}

.logo__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color:#243e63;
  font-size: 24px;
  font-weight: 900;
  text-decoration: none; 
  transition: all 300ms ease;
}

.logo__image--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__image {
  width: 40px;
  margin: 0 12px 0 0;
}

.logo__wrapper:hover {
  color:#6415ff;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.nav__link {
  margin: 0 24px;
  text-decoration: none;
  font-size: 14px;
  color: #243e63;
  font-weight: 600;
  transition: all 300ms ease;
}

.nav__link:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
  color: #6415ff;
}

.nav__link--login {
  margin: 0 24px 0 48px;
}


/* INTRODUCTION */

.intro__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 96px 0;
}

.intro__text--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

.intro__image--wrapper {
  width: 60%;
}

.intro__text--title {
  font-size: 48px;
  color: #1A202C;
}

.intro__text--subtext {
  font-size: 18px;
  color: #243e63;
  padding: 32px 0;
}

.intro__email--wrapper {
  background-color: white;
  padding: 20px 192px 20px 32px;
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(226, 232, 240);
  transition: all 300ms ease;
}

.intro__email {
  border: none;
}

.intro__email::placeholder{
  font-size: 16px;
  font-weight: 500;
  color: rgb(226, 232, 240);
}

.intro__email--wrapper:hover {
  color: black;
}